body{
font-family: 'Titillium Web', sans-serif;
}

h1{
	font-size: 66px;
	font-weight: 600px;
	line-height: 80px;
}
h2{
	font-size: 48px;
	margin-bottom: 30px;
}


p{
	font-size: 18px;
	color: #1a1a1a;
	line-height: 40px;
	margin-bottom: 0; 
}
a:hover{

	text-decoration: none;
}
i a{
	font-size: 52px;
	color: #ffffff;
}

section{
	padding: 120px 0;
}
.g-light-grey{
	background-color: #f5f5f5f5;

}

.g-light-dark{
	background-color: #1a1a1a !important;

}

.topmargin-xs{	margin-top: 15px;}
.topmargin-sm{	margin-top: 30px;}
.topmargin-lg{	margin-top: 60px;}
.topmargin-lgg{	margin-top: 100px;}
.btn{
	font-size: 14px;
	padding: 15px  26px;
	min-width: 160px;
	border-radius: 2px;
	display: inline-block;

}

.btn-light{
	background-color: #ffffff;
	color: #1a1a1a;
	border: 2px solid #ffffff;
}

.btn i{font-size: 14px; margin-left: 5px;}
.navbar{
background-color: #ffffff;
box-shadow: 0 2px 4px 0 rgba(0,0,0, .05);
min-height: 100px;

}
.text-dark{
	color:#1a1a1a;
}

.nav-link {

	color: #1a1a1a;
}
.nav-link:hover {

	color: #1a1a1a;
}

.logo-brand{
	min-width: 80px;
	max-width: 90px;

}

.carousel-slide{
	min-width: 1200px;
	max-width: 1300px;

}

.navbar-toogles: {
	font-size: 40px;

}

.navbar-toogles:focus {
	outline:none;

}

#hero{
	background-image: url(imagenes/2.jpg);
	background-size: cover;
	padding-top: 90px;
	min-height: 700px;  
	color: #ffffff;

}
#hero p{
	color: #ffffff;
}
.content-center{

	max-width: 800px;
	margin: 0 auto 60px auto;
	text-align: center;
}

.portafolio-container{
	position: relative;
	overflow: hidden;
	margin: 10px 0;
	border-radius: 2px;
}

.portafolio-container img{

	-moz-transition: all 0.8s;
	-webkit-transition: all 0.8s;
	transition: all 0.8s;

}
.portafolio-container:hover img{

	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
	
}

.portafolio-details{

	position: absolute;
	bottom: 25px;
	left: 25px;
	z-index: 9000;

}
.portafolio-details h2{
	margin-bottom: 0px;
}
.portafolio-details a h2, .portafolio-details a p{
	color: #ffffff;

}
#footer {
	padding: 80px 0;
	text-align: center;
	color: #ffffff;
}
#footer a {
	color: #ffffff;
}



@media (max-width: 575.98px) { 
h1{font-size: 40px; line-height: normal;}
.footer-menu{
display: block !important;
padding: 20px 0 !important;
font-size: 20px;

	}}



@media (max-width: 767.98px) { ... }


@media (max-width: 991.98px) { ... }


@media (max-width: 1199.98px) { ... }

